<?xml version="1.0"?>
<!--
/**
 * Nuvei Checkout acl.
 *
 * @category Nuvei
 * @package  Nuvei_Checkout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Nuvei_Checkout::chekout_data" title="Nuvei Checkout data"
                          translate="title" sortOrder="110">
                    <resource id="Nuvei_Checkout::get_checkout_data" title="Get Checkout data"
                              translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>