<?xml version="1.0"?>
<!--
/**
 * Nuvei Checkout di config.
 *
 * @category Nuvei
 * @package  Nuvei_Checkout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
	<type name="Magento\Checkout\Model\Cart">
        <plugin name="prevent_add_to" 
				type="Nuvei\Checkout\Plugin\PreventAddToCart"/>
    </type>
	
    <!-- enable the Zero total -->
	<type name="Magento\Payment\Model\Checks\ZeroTotal">
		<plugin name="nuvei_zero_total" 
				type="Nuvei\Checkout\Plugin\ZeroTotal" />
	</type>
	
    <!-- filter payment providers if in the cart there is a product with a Payment Plan -->
    <type name="Magento\Payment\Model\MethodList">
        <plugin sortOrder="5" 
                name="nuveiDisablePaymentProviders" 
                type="Nuvei\Checkout\Plugin\Model\Method\MethodAvailable" 
                disabled="false" />
    </type>
    
    <!-- plugin to fix "Invalid Customer address id XXXX" error -->
    <type name="Magento\Quote\Model\QuoteAddressValidator">
        <plugin name="nuveiDisableGusetCheck" 
                type="Nuvei\Checkout\Plugin\QuoteAddressValidatorPlugin" 
                disabled="false" />
    </type>
    
    <!-- for the REST API -->
    <preference for="Nuvei\Checkout\Api\GetCheckoutDataInterface" type="Nuvei\Checkout\Model\Api\GetCheckoutData"/>
</config>