<?xml version="1.0"?>
<!--
/**
 * Nuvei Payments events config.
 *
 * @category Nuvei
 * @package  Nuvei_Payments
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- when user login, check quote before merge with the guest quote -->
    <event name="sales_quote_merge_before">
        <observer name="nuvei_validate_quote_merge" 
                  instance="Nuvei\Payments\Observer\QuoteMerge" />
    </event>
</config>