<!--
/**
 * Nuvei Checkout payment template.
 *
 * @category Nuvei
 * @package  Nuvei_Checkout
 */
-->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="
                    attr    : {
                        'id': getCode()
                    },
                    value   : getCode(),
                    checked : isChecked,
                    click   : selectPaymentMethod,
                    visible : isRadioButtonVisible()
                " />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!--<img data-bind="attr: {
                    src		: getNuveiIconUrl(),
                    alt		: $t('Nuvei Logo'),
                    height	: '',
                    width	: '50'
                }" class="payment-icon" onerror="this.style.display='none'" />-->
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
				<!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
		
		<div class="sc_error" id="nuvei_general_error" style="display: none;">
			<div class="message error">
				<div data-bind="text: $t('General error.')"></div>
			</div>
		</div>
		
		<div class="checkout-agreements-block">
			<!-- ko foreach: $parent.getRegion('before-place-order') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>
		
		<div id="nuvei_checkout" data-bind="attr: {
			onload : getSessionToken()
		}"></div>
        
        <div class="actions-toolbar" style="display: none;">
            <div class="primary">
                <button id="nuvei_default_pay_btn" 
                        data-role="review-save" 
                        type="submit" 
                        class="action primary checkout" 
                        data-bind="
                            attr: {
                                title: $t('Place Order')
                            },
                            click: placeOrder,
                            css: {
                                disabled: !isPlaceOrderActionAllowed()
                            }">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
