<?xml version="1.0"?>
<!--
/**
 * Nuvei Checkout adminhtml routes config.
 *
 * @category Nuvei
 * @package  Nuvei_Checkout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="nuvei" frontName="nuvei_checkout">
            <module name="Nuvei_Checkout" before="Magento_Backend" />
        </route>
    </router>
</config>